<div class="jumbotron text-center">

    <div class="row" >
        <div class="col-lg-6 offset-lg-3">
            <button class="btn btn-success btn-block btn-cues" routerLink="/dashboard/vistaCues">Crear Cuestionario</button>
        </div>
    </div>  

</div>

<div class="text-center" style="margin-top: -30px;">

  <app-loading *ngIf="loading"></app-loading>

</div>
  
<div class="card-columns mt-3">
  
  <div class="card bg-ligth" *ngFor="let cuestionario of listCuestionarios">
    <div class="card-body text-center">
        
      <h4 class="card-title">{{cuestionario.descripcion}}</h4>
  
      <div style="font-size: 15px;">
  
        <strong>Fecha Creacion:</strong>  {{cuestionario.fechaCreacion | date: "dd/MM/yy"}}
        <hr>
        
      </div>
        
      <button class="btn btn-success radius" routerLink="/dashboard/verCuestionarioFinal/{{cuestionario.id}}" >VER</button>
      <button class="btn btn-danger radius" (click)="eliminarCuestionario(cuestionario.id)">ELIMINAR</button>

    </div>
  </div>
</div>
  
<h3 *ngIf= "listCuestionarios.length == 0 && loading == false">No hay cuestionarios para mostrar</h3>


