    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-3 px-md-4 mb-3 shadow">
        <h5 class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">Graficas</h5>         
        
      <a class="btn btn-outline-success" (click)="Salir()">Volver</a>
      
    </nav>

    
    <div class="container-fluid">
        <div class="row">
            <div class="col-11">
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                      <h1 class="h2">Egresados: </h1>
                      <br>
                      <h5>Solo se toman en cuenta a usuarios que su promedio fue mayor de 70 </h5> 

                    </div>

                    <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                    </canvas>

                        

                </main>

            </div>
    

        </div>
    </div>



     


    
    
  
      
    
