<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="text-center">Datos del Cuestionario</h3>
        <br> 
        <!--                                    (ngSubmit)="pasoUno()" -->
        <form [formGroup]="datosCuestionario" >
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ingrese titulo del Atributo" formControlName="titulo">
                <div class="text-danger" *ngIf="datosCuestionario.get('titulo').hasError('required') && datosCuestionario.get('titulo').touched">
                    El titulo <strong>es requerido</strong>
                </div>
            </div>
            
            <div class="form-group">
                <textarea rows="3" placeholder="Ingrese descripcion del Atributo" formControlName="descripcion" class="form-control"></textarea>
                <div class="text-danger" *ngIf="datosCuestionario.get('descripcion').hasError('required') && datosCuestionario.get('descripcion').touched">
                    La descipcion <strong>es requerida</strong>
                </div>
            </div>

            <button [disabled]="datosCuestionario.invalid" class="btn btn-success float-right">Siguiente</button>

        </form>
    </div>
</div>
