
 <div class="text-center">

    <app-loading *ngIf="loading"></app-loading>
</div>

<div class="text-center" *ngIf="!loading">
    <h4 class="card-title">{{cuestionario.nombre | uppercase}}</h4>
    <p class="card-text">{{cuestionario.descripcion | uppercase}}</p>
    
    <p class="card-text ">{{cuestionario.atributo | uppercase}}</p>

    <strong>Fecha Creacion:</strong>{{cuestionario.fechaCreacion | date: "dd/MM/yy"}}
    
   
    <hr>

    <div *ngFor="let pregunta of cuestionario.listPreguntas">

        <div class="card-header">
           <b>{{pregunta.descripcion}}</b> 
        </div>

        

        <ul class="list-group" *ngFor="let respuesta of pregunta.listRespuesta">

            <li class="list-group-item">

                {{respuesta.descripcion}}

                <span class="badge badge-primary badge-pill ">
                   
                    <strong > Valor </strong>{{respuesta.esCorrecta}}
                   


                </span>

            </li>
        </ul>

    </div>
    <br>
    <div class="row">
        <div class="col-lg-4 offset-lg-4">

            <button class="btn btn-info btn-lg btn-block" routerLink="/dashboard"> Volver</button>
        </div>

    </div>

    <br>
</div>